<h1 mat-dialog-title>{{ data.edit ? 'Editar' : 'Criar' }} Professor</h1>

<div *ngIf="loading; else content" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<ng-template #content>
  <div mat-dialog-content [formGroup]="professorForm">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome do Professor</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="professorForm.get('nome')?.hasError('required')">
        O campo de nome é <strong>obrigatório</strong>.
      </mat-error>
      <mat-error *ngIf="professorForm.get('nome')?.hasError('maxlength')">
        O campo de nome não pode ter mais de <strong>150 caracteres</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Salas Disponíveis</mat-label>
      <mat-select formControlName="sala">
        <mat-option *ngFor="let sala of salas" [value]="sala.id">
          {{ sala.nome_sala }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions fxLayoutAlign="space-around center">
    <button mat-button (click)="onCancelClick()" cdkFocusInitial>Cancelar</button>
    <button mat-button [mat-dialog-close]="professorForm.getRawValue()"
      [disabled]="professorForm.status !== 'VALID'">
      {{ data.edit ? 'Editar' : 'Criar' }} Professor
    </button>
  </div>
</ng-template>
