.content {
  padding: 4em 2em 2em 2em;
  height: 100%;
  overflow: auto;
}

.school-icon {
  margin-right: 0.5em;
}

mat-sidenav {
  width: 50vw;
}

.text-toolbar {
  color: #fff;
  text-decoration: none;
  line-height: 36px;
  padding: 0 16px 0 16px;
  border-radius: 4px;
  &:hover {
    background: rgba(0,0,0,.4);
  }
}