<h1 mat-dialog-title>{{ data.edit ? 'Editar' : 'Criar' }} Sala</h1>

<div *ngIf="loading; else content" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<ng-template #content>
  <div mat-dialog-content [formGroup]="salaForm">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nome da Sala</mat-label>
      <input matInput formControlName="nome_sala">
      <mat-error *ngIf="salaForm.get('nome_sala')?.hasError('required')">
        O campo de nome é <strong>obrigatório</strong>.
      </mat-error>
      <mat-error *ngIf="salaForm.get('nome_sala')?.hasError('maxlength')">
        O campo de nome não pode ter mais de <strong>150 caracteres</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Professores Disponíveis</mat-label>
      <mat-select multiple formControlName="professores">
        <mat-option *ngFor="let professor of professores" [value]="professor.id">
          {{ professor.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div mat-dialog-actions fxLayoutAlign="space-around center">
    <button mat-button (click)="onCancelClick()" cdkFocusInitial>Cancelar</button>
    <button mat-button [mat-dialog-close]="salaForm.getRawValue()"
      [disabled]="salaForm.status !== 'VALID'">
      {{ data.edit ? 'Editar' : 'Criar' }} Sala
    </button>
  </div>
</ng-template>
